<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <title>Contacts</title>
</head>
<body>
    <h2>You've added <strong>{{ newhomie.getName }}</strong> to your contact book!</h2>
    <p>{{ newhomie.getName }}</p>
    <p>{{ newhomie.getPhone }}</p>
    <p>{{ newhomie.getAddress }}</p>
    <p><a href='/'>View your full contact book.</a></p>
</body>
</html>
