<html>
<head>
    <title>Contacts</title>
</head>
<body>
    <h2>You've added <strong>{{ newhomie.getName }}</strong> to your contact book!</h2>
    <p>{{ newhomie.getName }}</p>
    <p>{{ newhomie.getPhone }}</p>
    <p>{{ newhomie.getAddress }}</p>
    <p><a href='/'>View your full contact book.</a></p>
</body>
</html>
