<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>To Do List</title>
</head>
<body>
    <div class="jumbotron">
    <h1>Homies</h1>

    {% if homies is not empty %}
       <p>Here are all your homies:</p>
       <ul>
           {% for homie in homies %}
               <li>{{ homie.getName }}</li>
               <li>{{ homie.getPhone }}</li>
               <li>{{ homie.getAddress }}</li>
           {% endfor %}
       </ul>
   {% endif %}
   </ddiv>

   <form action='/homies' method='post'>
       <label for='name'>Name</label>
       <input id='name' name='name' type='text'>

       <label for='phone'>Phone</label>
       <input id='phone' name='phone' type='text'>

       <label for='address'>Address</label>
       <input id='address' name='address' type='text'>

       <button type='submit'>Add Contact</button>
   </form>
   <form action='/delete_homies' method='post'>
       <button type='submit'>Clear</button>
   </form>
</body>
</html>
